body {
  padding: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(235, 235, 235);
  font-family: 'Helvetica Neue', 'Open Sans', 'Roboto', 'Ubuntu', 'Segoe UI', sans-serif;
}

body > div {
  flex: 4;
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

body > div:first-child {
  flex: 1;
  margin-right: 40px;
}

label {
  display: block;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  background: rgb(79, 0, 193);
  color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  min-height: 40px;
}

input {
  border: none;
  background: transparent;
}

input[type='text'] {
  border-bottom: 1px solid rgb(79, 0, 193);
  min-height: 40px;
  flex: 1;
  margin-right: 20px;
}

ul {
  padding: 0px;
  list-style: none;
}

li {
  padding: 0px 20px;
  transition: all 0.1s ease-in;
  display: flex;
  align-items: center;
}

li:hover {
  background: rgba(0, 0, 0, 0.1);
}

li > p {
  flex: 1;
}

li > a {
  text-decoration: none;
}

h2 {
  margin-top: 100px;
}
